<!DOCTYPE html>
<html>
  <head>
    <title>Feed Me</title>
    <meta name="description" content="Create your Amp Story feed here">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        It's feed time!
      </h1>
    </header>

    <main>
     <h1>Hi there!</h1>
    <div>
      <div>
       <p id="name">Project Name</p><div id="project"></div> 
      </div>
      <div>
        <p>Select Videos</p>
        <div id="videos"></div>
        <ul id="video-list"></ul>
      </div>
      <button onclick="syncMe()">Sync Me</button>
      </div>
    </main>

    <footer>

    </footer>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://www.dropbox.com/static/api/2/dropins.js" id="dropboxjs" data-app-key="e4gpfs0pj8z43oz"></script>
    <script src="/client.js"></script>

  </body>
</html>
