doctype html
html
  head
    title Feed Me
    meta(name="description" content="Create your Amp Story feed here")
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="/style.css")
  body
    header
      h1 
    main
      p#brand Brand Name
      select#brands(name="brands")
        option(value="COSMOPOLITAN") Cosmopolitan
        option(value="ELLE") Elle
        option(value="ESQUIRE") Esquire
        option(value="HARPERSBAZAAR") Harper's Bazaar
      br
      p Project Name 
      select(id="project" name="project")
        each brands, index in brands
          option(value=`#{index}`)
      p Select Videos
      div#videos
      ul#video-list
      button(onClick="syncMe()") Sync Me
      ol#frame
      #thumbs
    footer
    script(src="https://code.jquery.com/jquery-2.2.1.min.js"  integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00=" crossorigin="anonymous")
    script(type="text/javascript" src="https://www.dropbox.com/static/api/2/dropins.js" id="dropboxjs" data-app-key="e4gpfs0pj8z43oz")
    script(src="client.js")