<!DOCTYPE html>
<html>
  <head>
    <title>Feed Me</title>
    <meta name="description" content="Create your Amp Story feed here">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        It's feed time!
      </h1>
    </header>

    <main>
    <div>
      <div>
       <p id="name">Project Name</p><div id="project"></div> 
      </div>
      <div>
        <p>Select Videos</p>
        <div id="videos"></div>
        <ul id="video-list"></ul>
      </div>
      <button onclick="syncMe()">Sync Me</button>
      </div>
      
      <div id="thumbs"></div>
    </main>

    <footer>

    </footer>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://www.dropbox.com/static/api/2/dropins.js" id="dropboxjs" data-app-key="e4gpfs0pj8z43oz"></script>
    <script src="/client.js"></script>
    <script>
      let projectName = '';
      let videos = [];
      
      function syncMe() {
        function createPosters(src) {
          var i = 0;
          var video = document.createElement("video");
          var thumbs = document.getElementById("thumbs");
          
          video.crossOrigin = "Anonymous";

          video.addEventListener('loadeddata', function() {
            thumbs.innerHTML = "";
            video.currentTime = i;
          }, false);
          


          video.addEventListener('seeked', function() {
            // now video has seeked and current frames will show
            // at the time as we expect
            generateThumbnail(i);
          }, false);

          video.preload = "auto";
          video.src = src;

          function generateThumbnail() {
            var c = document.createElement("canvas");
            var ctx = c.getContext("2d");
            c.width = 450;
            c.height = 800;
            ctx.drawImage(video, 0, 0, 450, 800);
            thumbs.appendChild(c);
            

            let posterContents = c.toDataURL('image/jpeg', 1.0)
            console.log(posterContents)

            $.ajax({
              url : "/posters",
              type: "POST",
              // dataType:'json',
              data : { project: projectName, payload: posterContents },
              success: function(data) {
                  console.log(data); // 'OK'
              },
            });
          }
        }
        
        createPosters(videos[0].link)
      }
      
      projectOptions = {

        // Required. Called when a user selects an item in the Chooser.
        success: function(files) {
          projectName = files[0].name;
          console.log(projectName)
          document.getElementById("name").innerHTML = `Project Name: ${projectName}`
        },
        // Optional. Called when the user closes the dialog without selecting a file
        // and does not include any parameters.
        cancel: function() {

        },
        multiselect: false, 
        folderselect: true, 
      };
      
      videoOptions = {

        // Required. Called when a user selects an item in the Chooser.
        success: function(files) {
            files.forEach((file) => {
              var node = document.createElement("li");                 
              var textnode = document.createTextNode(`${file.name}`);
              node.appendChild(textnode);                              
              document.getElementById("video-list").appendChild(node); 
              
              videos = files
              console.log(videos)
            });
          
          console.log(files[0].link)
        },

        // Optional. Called when the user closes the dialog without selecting a file
        // and does not include any parameters.
        cancel: function() {

        },
        
        linkType: "direct",
        multiselect: true, 
        extensions: ['.mp4'],
        folderselect: false, // or true
      };
      
      file = {
        // Unique ID for the file, compatible with Dropbox API v2.
        id: "id:...",

        // Name of the file.
        name: "filename.txt",

        link: "https://...",

        // Size of the file in bytes.
        bytes: 464,

        // URL to a 64x64px icon for the file based on the file's extension.
        icon: "https://..."
      };
    
      var projectButton = Dropbox.createChooseButton(projectOptions);
      var videoButton = Dropbox.createChooseButton(videoOptions);
      document.getElementById("project").appendChild(projectButton);
      document.getElementById("videos").appendChild(videoButton);
    </script>
  </body>
</html>
