doctype html
html
  head
    title Feed Me
    meta(name="description" content="Create your Amp Story feed here")
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="/style.css")
  body
    header
      h1 
    main
      p#brand Brand Name
      select#brands(name="brands")
        option(value="COSMOPOLITAN") Cosmopolitan
        option(value="ELLE") Elle
        option(value="ESQUIRE") Esquire
        option(value="HARPERSBAZAAR") Harper's Bazaar
      br
      p Project Name 
      select(id="project" name="project")
      p Select Videos
      div#videos
      ul#video-list
      button(onClick="syncMe()")