doctype html
html
	head
		title Success
		meta(name="description" content="Create your Amp Story feed here")
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet" href="/normalize.css")
		link(rel="stylesheet" href="/skeleton.css")
		link(rel="stylesheet" href="/style.css")
		link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,700")
		body
			div.container
				header
				h2 Added to Feed: #{files.brand} - #{files.project}
				ul.success
					each file in files.slides
						li
							p= file
					li
						p #{files.cover_card}
				a(href="/")
					button Add Another
				a(href="/feed.json")
					button.feed View Feed
