doctype html
html
	head
		title Success
		meta(name="description" content="Create your Amp Story feed here")
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet" href="/style.css")
		body
			header
			h1 All Done!
			h2 #{files.brand}: #{files.project}
			ul
				each file in files.slides
					li
						p= file
			a(href="/")
				button Add Another
