/* styles */
/* called by your view template */

/* You might want to try something fancier: */
/* less: http://lesscss.org/ */

* {
	box-sizing: border-box;
}

body {
	font-family: helvetica, arial, sans-serif;
	margin: 25px;
	position: relative;
}

h1 {
	font-weight: bold;
	color: pink;
}

.bold {
	font-weight: bold;
}


form {
	margin-bottom: 25px;
	padding: 15px;
	background-color: cyan;
	display: inline-block;
	width: 100%;
	max-width: 340px;
	border-radius: 3px;
}

select {
	font-size: 16px;
}

label {
	display: block;
	margin: 20px 0 10px;
}

input {
	display: block;
	margin-bottom: 10px;
	padding: 5px;
	width: 100%;
	border: 1px solid lightgrey;
	border-radius: 3px;
	font-size: 16px;
}

button {
	font-size: 16px;
	border-radius: 3px;
	background-color: lightgrey;
	border: 1px solid grey;
	box-shadow: 2px 2px teal;
	cursor: pointer;
}

button:hover {
	background-color: yellow;
}

button:active {
	box-shadow: none;
}

li {
	margin-bottom: 5px;
	list-style: none;
}

#video-list li {
	display: inline-block;
	margin: 20px 20px 0 0;
}

footer {
	margin-top: 50px;
	padding-top: 25px;
	border-top: 1px solid lightgrey;
}

footer > a {
	color: #BBBBBB;
}

#overlay {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	position: absolute;
	background: rgba(255, 255, 255, 0.75);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

#overlay p {
	font-size: 40px;
}

#overlay p.sorry {
	font-size: 18px;
	margin-right: 30px;
}

.disabled {
	pointer-events: none;
	opacity: 0.75;
}

.blinking {
  animation: blinker 1.5s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
